@import "tailwindcss";
/*@tailwind component;*/
/*@tailwind utilities;*/

/*Instead of a tailwind.config.js file, 
you can configure all of your customizations
 directly in the CSS file where you import Tailwind
 
 
Colors 
Primary: Dusty Rose: #E394A1
Primary dark: Deep Rose: #B85F70
Primary light: Soft Blush: #FBECEF 
Background: Warm Off-White: #FCF9F8
Cards: White: #FFFFFF
Main text: Deep Charcoal: #292528
Secondary text:  Muted Mauve: #756A6E
Sage Green: #6FA77A
Terracotta: #C65D5D


 */
